<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Trebuchet+MS" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<link rel="stylesheet" href="../public/assets/css/style.css" type="text/css" />
	<title>Secret Menu</title>
</head>

<body>
	<img src="../public/assets/img/burger.jpg" width="400px" id="burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2018 Papa Deere</span>
			</div>
		</div>
	</footer>
</body>
</html>